.wrapper {
  margin-top: 120px;
}

.button-toggle {
  display: flex;
  justify-content: center;
}

.button-toggle__form {
  position: relative;
}

.button-toggle__button {
  border: none;
  background-color: rgb(198, 42, 42);
  border-radius: 5px;
  height: 30px;
  width: 180px;
  color: rgb(238, 238, 238);
  font-size: 12px;
}

.button-toggle__button:active {
  background-color: rgb(0, 0, 0);
  height: 26px;
  width: 176px;
  margin-top: 2px;
  font-size: 11.5px;
}

.button-toggle__popower-form {
  position: absolute;
  width: 300px;
  border: 1px solid black;
  border-radius: 5px;
  font-family: arial;
  box-shadow: 4px 5px 5px rgba(0, 0, 0, .2);
  text-align: center;
}

.button-toggle__popower-form_disabled {
  display: none;
}
